@import _fonts
@import _vars
@import _defaults
body
	background-color: $bodyBg
	// min-height: 200vh
	// @media screen and ( max-width: 1024px )
		// padding-top: #{90px + 30px}
i
	display: inline-block
	width: 16px
	height: 16px
	cursor: pointer
img
	width: 100%
	height: 100%
	object-fit: contain
.logo
	width: 98px
	height: 50px
.btn, .btnreverse
	cursor: pointer
	font-family: firagobold
	font-weight: 700
	@include font(14px, 19.6px)
	padding: 16px 32px
	color: $dark
	@include center()
	max-width: max-content
	// min-width: 100%
	border: 1px solid $dark
	@include transition()
	@include uppercase()
	
	@media screen and ( max-width: 700px )
		min-width: 100%
	&:hover
		background-color: $dark
		color: #fff
.btnreverse
	color: #fff 
	border-color: $dark 
	background-color: $dark 
	&:hover
		background-color: #fff 
		color: $dark 
.section
	margin-bottom: 70px
	@include plus1025()
		margin-bottom: 90px
	&__header
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
	&__title
		font-family: firagobold
		font-weight: 700
		@include font(18px, 25.2px)
		color: $dark
		@include uppercase()
		margin-right: 20px
		@include plus1025()
			@include font(26px, 36.4px)


@import _header
@import _footer

@import _homehero

		
$homecategoryHeight: 410px
// for productinpage
$homecategoryHeightProductin: 500px
$homecategoryHeightProductinMob: 350px

@import _homecategoryslider

$weekOfferHeight: 500px
@import _homeweekoffer

$newproductsHeightMob: 350px
$newproductsHeight: 500px
@import _homenewproducts


$homeaboutheight: 496px
$homeaboutheightMob: 450px
@import _homeabout

.pagetitle
	font-family: firagobold
	font-weight: 700
	color: $dark
	@include uppercase()
	@include font(34px, 47.6px)
	@include plus1025()
		@include font(54px, 75.6px)
		
.pagearticle
	padding-top: 20px
	@include plus1025()
		padding-top: 40px

@import _pageabout


@import _pageproducts


$imageSliderHeight: 250px
$imageSliderHeightMob: 400px
@import _pageproduct


.blogsarticle__title
	margin-bottom: 30px
	@include plus1025()
		margin-bottom: 90px

$blogSliderHeight: 520px
$blogSliderHeightMob: 420px
@import _homeblog

@import _blogarticle

.contactpage
	padding-bottom: 40px
	@include plus1025()
		min-height: calc(100vh - #{100px + 105px + 20px})
		padding-bottom: 90px
	&__combiner
		display: grid
		// justify-items: 
		@include plus1025()
			grid-template-columns: auto auto
			justify-content: stretch
		
	&__form
		width: 100%
		@include plus1025()
			max-width: 455px
		.ordermodal__inputs
			width: 100%
		button
			max-width: unset
		input, textarea
			@include font(14px, 19.6px)
			&::placeholder
				@include font(14px, 19.6px)
		.holder
			@include font(14px, 19.6px)	
	&__info
		width: 100%
		order: -1
		margin-bottom: 50px
		@include plus1025()
			order: 0		
			justify-self: flex-end
			max-width: 455px
			padding-right: 30px
			margin-bottom: 0
		&__list
			width: 100%
			display: grid
			grid-template-columns: auto auto
			justify-content: space-between
			grid-gap: 30px 0
			margin-bottom: 50px
			a
				color: $dark
				font-family: firagosemibold
				@include font(14px, 19.6px)
				font-weight: 600
			.mob, .mail
				font-family: firagomedium
				font-weight: 500
				@include font(18px, 25.2px)
				display: flex
				width: max-content
				align-self: center
				&::before
					display: inline-block
					width: 24px
					height: 24px
					margin-right: 6px
			.mob
				&::before
					content: url(../img/svgs/socials/mob.svg)
			.mail
				&::before
					content: url(../img/svgs/socials/mail.svg)
		&__leavemsg
			font-family: firagosemibold
			font-weight: 600
			@include font(12px, 19.6px)
			padding-left: 3px
			padding-right: 3px
			max-width: unset
			text-align: center
			@include plus1025()
				font-size: 14px
.ns.input
	&::after
		content: none
		
	ul
		li.active
			// padding-left: 0
			// color: $orange
			// @include uppercase()
			opacity: 1
		li
			opacity: .8