// colors
$dark: #282828
$dark13: #131313
$f8: #f8f8f8
$bodyBg: #fff
$orange: #ED8E1D
$borderLight: #D9D9D9    
$olive: #E2E0D4
$red: #FF5E5E

$width380: 380px
$width450: 450px
$width700: 700px
$width769: 769px
$width1025: 1025px
$width1279: 1279px
$width1441: 1441px
$width1900: 1900px
$max-width: 1643px // 1006px
$containerPaddingIpad: 20px
$containerPadding: 30px
$padL: calc( ((100vw - 10px) - 1697px) / 2)

    

/* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button 
//     -webkit-appearance: none !important
//     margin: 0 !important


/* Firefox */
// input[type=number] 
    // -moz-appearance: textfield !important

@mixin center()
    display: flex
    justify-content: center
    align-items: center
@mixin plus380()
    @media screen and (min-width: $width380)
        @content

@mixin plus450()
    @media screen and (min-width: $width450)
        @content

@mixin plus700()
    @media screen and (min-width: $width700)
        @content

@mixin plus769()
    @media screen and (min-width: $width769)
        @content

@mixin plus1025()
    @media screen and (min-width: $width1025)
        @content

@mixin plus1441()
    @media screen and (min-width: $width1441)
        @content

@mixin plus1900()
    @media screen and (min-width: $width1900)
        @content

@mixin sizePlus($width)
    @media screen and (min-width: $width)
        @content

// @mixin upperCase($bold)
//     font-family: mtavruli !important
//     text-transform: uppercase !important
//     font-weight: 500 !important
//     text-transform: uppercase
//     @if $bold
//         font-weight: 600 !important

        
@mixin transition($property: all)
    transition: $property .1s ease
@mixin blur($px)
    -webkit-filter: blur($px)
    -moz-filter: blur($px)
    -o-filter: blur($px)
    -ms-filter: blur($px)
    filter: blur($px)

@mixin maxcolumn($num)
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: $num /* number of lines to show */
    -webkit-box-orient: vertical

@mixin font($size, $lnh: 1.22)
    font-size: $size
    line-height: $lnh
    
@mixin uppercase()
    text-transform: uppercase
    font-feature-settings: "case" on
// .container
//     padding: 0 20px
//     @include plus1900()
//         padding: 0 135px


    
@mixin userselect($none: text)
    -webkit-user-select: $none !important
    -khtml-user-select: $none !important
    -moz-user-select: $none !important
    -ms-user-select: $none !important
    user-select: $none !important

@mixin scrollSetup ($thumbcolor, $width: 2px, $bgcolor: transparent) 
    &::-webkit-scrollbar
        width: $width
        background-color: $bgcolor
    &::-webkit-scrollbar-thumb
        border-radius: 30px
        background-color: $thumbcolor
    &::-webkit-scrollbar-track
        margin: 15px 0
        background-color: $bgcolor