footer.footer.container
    nav.footer__nav
        ul.footer__nav__ul
            li
                a(href="index.html") მთავარი
            li
                a(href="blogs.html") ბლოგი
            li
                a(href="about.html") ჩვენ შესახებ
            li
                a(href="contact.html") კონტაქტი
    .footer__rights
        span All rights reserved
        span.copy
        span 2021
    .footer__socials
        a.fb(href="#fb")
        a.tw(href="#tw")
        a.ig(href="#ig")