header.header
    .header__content.container
        a.logo.header__logo(href="index.html")
            img(src="assets/img/logo.svg", alt="")
        nav.nav.header__nav
            ul.header__nav__ul
                li
                    a(href="index.html") მთავარი
                li.products
                    .head
                        a() პროდუქცია
                        i
                    .content
                        .categories
                            a.categories__item(href="products.html") მაგიდა
                            a.categories__item(href="products.html") დეკორატიული თარო
                            a.categories__item(href="products.html") ბავშვის კუთხე
                            a.categories__item(href="products.html") ტელევიზორის სადგამი
                li
                    a(href="blogs.html") ბლოგი                    
                li
                    a(href="designers.html") დიზაინერები                    
                li
                    a(href="about.html") ჩვენ შესახებ
                li
                    a(href="contact.html") კონტაქტი
        .header__right
            .header__burger
                span
                span
                span
            .header__lang
                a.active(href="#ge") GE
                a(href="#en") EN 