- const title = 'Home'
doctype html
html(lang="en")
    head
        include ../layouts/_head
    body
        include ../layouts/_header
        main.container
            h1 hahahahah hahahahah hahahahah hahahahah hahahahah hahahahah hahahahah hahahahah hahahahah 
        include ../layouts/_scripts